Financiera Compartamos
-----------------------------------------

## Limpieza de Datos

In [1]:
# import data
import pandas as pd
df = pd.read_excel('data/dataOriginal.xlsx')
# cast to str
df.codigoCuenta=df.codigoCuenta.apply(str)
df.codigoCliente=df.codigoCliente.apply(str)
df.codigoFuente=df.codigoFuente.apply(str)
# cast to date
df.fechaApertura = pd.to_datetime(df.fechaApertura)
df.fechaVigencia = pd.to_datetime(df.fechaVigencia)
df.fechaUltimoPago = pd.to_datetime(df.fechaUltimoPago)
df.fechaVencimiento = pd.to_datetime(df.fechaVencimiento)
df.dSalPag = pd.to_datetime(df.dSalPag)
# drop useless columns
df = df.drop(['ctipcuo', 'fechaTermino', 'cestado', 'cComApr'], axis=1)

### Datos Cualitativos

In [52]:
df.describe(include='object')

,codigoCuenta,codigoCliente,codigoFuente,tipoCredito,sectorEconomico,Fuente de financiamiento,ctipcal,cctapre,condicionCredito,cmarjud
count,30575,30575,30575,30575,30575,30575,30575,30575,30575,30575
unique,30575,26412,25081,3,8,12,2,109,2,3
top,242110067210,80141591,60000574,R,01,11,S,,Z,S
freq,1,4,78,18526,14892,18143,30471,30467,30433,27708

### Datos Cuantitativos

In [42]:
df.describe(include='float')

,montoApertura,capitalDesembolsado,capitalCalculado,capitalPagado,ntasint,nintpen,nintcal,nintpag,nintmor,npagcta,nmorpag,ngastos,ngaspag,nTasEfe
count,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000
mean,4088.209333,4088.209333,492.506614,1980.086606,3.672766,4.063522,2151.360212,920.631643,124.388991,1.006374,11.384686,113.357102,60.644944,3.670516
std,5730.990950,5730.990950,1702.296340,3508.842342,0.669596,327.803566,7875.313695,1797.859473,508.811220,41.537166,68.235767,148.052829,91.512420,0.670797
min,138.490000,138.490000,0.000000,0.000000,1.093000,0.000000,36.510000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.090000
25%,1000.000000,1000.000000,0.000000,363.740000,3.290000,0.000000,392.700000,154.305000,25.670000,0.000000,0.940000,20.000000,5.000000,3.290000
50%,2000.000000,2000.000000,0.000000,857.680000,3.490000,0.000000,761.680000,378.920000,43.690000,0.000000,3.780000,65.000000,30.300000,3.490000
75%,5000.000000,5000.000000,301.390000,1981.075000,3.990000,0.000000,1618.115000,863.015000,79.610000,0.000000,10.650000,162.500000,80.000000,3.990000
max,60000.000000,60000.000000,45472.100000,59840.580000,7.000000,55810.240000,467399.970000,86505.470000,26449.320000,5416.380000,8792.130000,3354.090000,2486.850000,6.993000

In [44]:
df.describe(include='int64')

,Moneda,ccodprd,modalidadCredito,destinoCredito,ctipper,numeroDeCuotas,diasDeAtraso,diasAtrasoMaximo,ccodana,cCodPdc,cCodOfi,nPerGra,nPerLbr
count,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000
mean,1.001145,23.224857,1.022306,3.218021,1.996500,13.238496,2278.671889,2278.754244,1418.094162,63848.259951,15.277187,0.000131,1.307800
std,0.033815,4.149205,0.248288,2.132636,0.059055,5.652038,351.685130,351.618146,980.234468,57885.641736,9.511352,0.014008,10.143641
min,1.000000,21.000000,1.000000,1.000000,1.000000,1.000000,296.000000,296.000000,629.000000,10037.000000,1.000000,0.000000,0.000000
25%,1.000000,21.000000,1.000000,2.000000,2.000000,12.000000,2009.000000,2009.000000,635.000000,10038.000000,8.000000,0.000000,0.000000
50%,1.000000,21.000000,1.000000,2.000000,2.000000,12.000000,2234.000000,2234.000000,1092.000000,40037.000000,14.000000,0.000000,0.000000
75%,1.000000,21.000000,1.000000,4.000000,2.000000,12.000000,2538.000000,2538.000000,1711.000000,120012.000000,24.000000,0.000000,0.000000
max,2.000000,32.000000,5.000000,8.000000,2.000000,60.000000,3126.000000,3126.000000,7965.000000,240002.000000,59.000000,2.000000,210.000000

### Datos de Tiempo

In [49]:
df.describe(include='datetime')

,fechaApertura,fechaVigencia,fechaUltimoPago,dSalPag,fechaVencimiento
count,30575,30575,29214,6607,30566
unique,907,906,2037,806,1331
top,2012-08-31 00:00:00,2012-09-06 00:00:00,2013-05-28 00:00:00,2012-10-03 00:00:00,2013-12-02 00:00:00
freq,899,154,1049,85,326
first,2009-12-22 00:00:00,2010-01-04 00:00:00,2010-02-10 00:00:00,1900-01-01 00:00:00,2010-04-17 00:00:00
last,2012-12-31 00:00:00,2012-12-31 00:00:00,2018-08-31 00:00:00,2016-02-05 00:00:00,2018-01-08 00:00:00

In [56]:
#df[[df.fechaApertura, df.fechaVigencia, df.fechaUltimoPago, df.fechaVencimiento, df.dSalPag]
dfDates = df[['fechaApertura', 'fechaVigencia', 'fechaUltimoPago', 'dSalPag', 'fechaVencimiento']]
dfDates

In [65]:
dfDates['vig_ape'] = (dfDates.fechaVigencia - dfDates.fechaApertura).dt.days
dfDates = dfDates.drop(['Difference'], axis=1)

In [61]:
dfDates.isnull().sum()
#https://stackoverflow.com/questions/26266362/how-to-count-the-nan-values-in-a-column-in-pandas-dataframe
#https://pandas.pydata.org/pandas-docs/stable/merging.html
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html
#https://articulo.mercadolibre.com.pe/MPE-430677380-oferta-ultimo-stock-iphone-7-plus-128gb-4g-nuevo-libre-_JM

fechaApertura           0
fechaVigencia           0
fechaUltimoPago      1361
dSalPag             23968
fechaVencimiento        9
dtype: int64