Financiera Compartamos
-----------------------------------------

## Limpieza de Datos

In [14]:
# warnings
import warnings
warnings.filterwarnings("ignore")
# import data
import numpy as np
import pandas as pd
df = pd.read_excel('data/dataOriginal.xlsx')
# cast to str
df.codigoCuenta=df.codigoCuenta.apply(str)
df.codigoCliente=df.codigoCliente.apply(str)
df.codigoFuente=df.codigoFuente.apply(str)
# cast to date
df.fechaApertura = pd.to_datetime(df.fechaApertura)
df.fechaVigencia = pd.to_datetime(df.fechaVigencia)
df.fechaUltimoPago = pd.to_datetime(df.fechaUltimoPago)
df.fechaVencimiento = pd.to_datetime(df.fechaVencimiento)
df.dSalPag = pd.to_datetime(df.dSalPag)
# drop useless columns
df.drop(['ctipcuo', 'fechaVigencia', 'fechaTermino', 'cestado', 
              'cComApr', 'diasDeAtraso', 'diasAtrasoMaximo'], axis=1, inplace=True)

### Datos Cualitativos

In [2]:
df.describe(include=['object'])

,codigoCuenta,codigoCliente,codigoFuente,tipoCredito,sectorEconomico,Fuente de financiamiento,ctipcal,cctapre,condicionCredito,cmarjud
count,30575,30575,30575,30575,30575,30575,30575,30575,30575,30575
unique,30575,26412,25081,3,8,12,2,109,2,3
top,322310001167,50128834,60000574,R,01,11,S,,Z,S
freq,1,4,78,18526,14892,18143,30471,30467,30433,27708

In [51]:
#un cliente puede tener varias cuentas, pero con diferentes tipos de asociaciones
dftest = df['codigoCuenta'].groupby([df['codigoCliente']]).count() #, df['company']
dftest

[('10000115', 29894    N
  Name: tipoCredito, dtype: object), ('100001247', 13120    R
  Name: tipoCredito, dtype: object), ('10000135', 7937    R
  8528    R
  Name: tipoCredito, dtype: object), ('100001379', 12559    R
  Name: tipoCredito, dtype: object), ('100001528', 12557    R
  12597    R
  Name: tipoCredito, dtype: object), ('100001916', 12577    R
  12604    R
  Name: tipoCredito, dtype: object), ('100002468', 12991    R
  12994    R
  Name: tipoCredito, dtype: object), ('10000250', 23747    R
  23793    R
  Name: tipoCredito, dtype: object), ('100002716', 24766    U
  Name: tipoCredito, dtype: object), ('10000273', 7933    R
  7966    R
  7978    R
  Name: tipoCredito, dtype: object), ('100002930', 12765    R
  Name: tipoCredito, dtype: object), ('100002989', 12722    R
  12727    R
  Name: tipoCredito, dtype: object), ('100003227', 12835    R
  Name: tipoCredito, dtype: object), ('100003268', 12873    U
  Name: tipoCredito, dtype: object), ('100003730', 12599    R
  13081    R
  Name: tipoCredito, dtype: object), ('100004043', 12926    R
  Name: tipoCredito, dtype: object), ('10000441', 22716    R
  23680    R
  Name: tipoCredito, dtype: object), ('100004449', 12811    R
  Name: tipoCredito, dtype: object), ('100004589', 12775    R
  13105    R
  Name: tipoCredito, dtype: object), ('10000473', 17657    U
  Name: tipoCredito, dtype: object), ('100005453', 12995    R
  13103    R
  Name: tipoCredito, dtype: object), ('100005552', 12800    R
  Name: tipoCredito, dtype: object), ('10000561', 23324    N
  Name: tipoCredito, dtype: object), ('100005636', 12605    R
  Name: tipoCredito, dtype: object), ('100005859', 12869    R
  Name: tipoCredito, dtype: object), ('10000588', 27345    R
  Name: tipoCredito, dtype: object), ('100005974', 12827    R
  12856    R
  Name: tipoCredito, dtype: object), ('100006477', 12896    R
  12936    R
  Name: tipoCredito, dtype: object), ('100006642', 24490    R
  24536    R
  Name: tipoCredito, dtype: object), ('100007129', 12823    R
  Name: tipoCredito, dtype: object), ('100007236', 12898    R
  Name: tipoCredito, dtype: object), ('100007277', 12852    R
  12952    R
  Name: tipoCredito, dtype: object), ('100007442', 12832    R
  Name: tipoCredito, dtype: object), ('100007517', 24582    R
  Name: tipoCredito, dtype: object), ('100007541', 12919    R
  Name: tipoCredito, dtype: object), ('100007590', 12560    R
  Name: tipoCredito, dtype: object), ('100007830', 13091    U
  Name: tipoCredito, dtype: object), ('10000810', 27380    N
  Name: tipoCredito, dtype: object), ('10000818', 1483    R
  Name: tipoCredito, dtype: object), ('100008614', 12855    R
  Name: tipoCredito, dtype: object), ('10000863', 1867    R
  2096    R
  Name: tipoCredito, dtype: object), ('100008903', 13089    R
  Name: tipoCredito, dtype: object), ('100009737', 13097    R
  Name: tipoCredito, dtype: object), ('100009885', 12865    R
  Name: tipoCredito, dtype: object), ('100009968', 13072    R
  13077    R
  Name: tipoCredito, dtype: object), ('10001006', 15801    N
  Name: tipoCredito, dtype: object), ('10001031', 319    R
  Name: tipoCredito, dtype: object), ('10001093', 23001    R
  23022    R
  Name: tipoCredito, dtype: object), ('100011071', 12601    R
  Name: tipoCredito, dtype: object), ('10001108', 5691    R
  Name: tipoCredito, dtype: object), ('100011220', 12831    R
  Name: tipoCredito, dtype: object), ('100011345', 12598    R
  Name: tipoCredito, dtype: object), ('10001144', 1237    R
  Name: tipoCredito, dtype: object), ('10001158', 8914    N
  Name: tipoCredito, dtype: object), ('100011691', 12580    R
  Name: tipoCredito, dtype: object), ('10001186', 12640    R
  Name: tipoCredito, dtype: object), ('10001194', 1500    R
  Name: tipoCredito, dtype: object), ('100012053', 13076    R
  Name: tipoCredito, dtype: object), ('100012566', 12833    N
  Name: tipoCredito, dtype: object), ('100012665', 12961    R
  Name: tipoCredito, dtype: object), ('10001288', 1510    N
  Name: tipoCredito, dtype: object), ('100013028', 12944    R
  Name: tipoCredito, dtype: object), ('100013127', 13093    R
  Name: tipoCredito, dtype: object), ('10001314', 22792    R
  28289    R
  Name: tipoCredito, dtype: object), ('10001325', 25430    R
  Name: tipoCredito, dtype: object), ('10001334', 42       R
  15840    R
  Name: tipoCredito, dtype: object), ('100013465', 12924    U
  Name: tipoCredito, dtype: object), ('100013549', 12562    R
  Name: tipoCredito, dtype: object), ('100013713', 12723    R
  Name: tipoCredito, dtype: object), ('100013853', 12802    R
  Name: tipoCredito, dtype: object), ('100013952', 12574    R
  Name: tipoCredito, dtype: object), ('100014091', 12561    R
  Name: tipoCredito, dtype: object), ('100014158', 12850    R
  12887    R
  Name: tipoCredito, dtype: object), ('100014166', 13079    R
  Name: tipoCredito, dtype: object), ('100014208', 12822    R
  12844    R
  Name: tipoCredito, dtype: object), ('100014299', 12834    R
  Name: tipoCredito, dtype: object), ('100014604', 12772    R
  Name: tipoCredito, dtype: object), ('100014653', 13094    R
  Name: tipoCredito, dtype: object), ('100014794', 12810    R
  Name: tipoCredito, dtype: object), ('100014927', 12804    R
  12826    R
  Name: tipoCredito, dtype: object), ('100014935', 12805    R
  Name: tipoCredito, dtype: object), ('100014968', 12603    R
  Name: tipoCredito, dtype: object), ('100015007', 12818    R
  Name: tipoCredito, dtype: object), ('100015429', 13107    R
  Name: tipoCredito, dtype: object), ('100015767', 12825    R
  Name: tipoCredito, dtype: object), ('100015791', 12578    R
  Name: tipoCredito, dtype: object), ('100015874', 12797    R
  Name: tipoCredito, dtype: object), ('100015882', 12938    R
  12998    R
  Name: tipoCredito, dtype: object), ('100016195', 12854    R
  12886    R
  Name: tipoCredito, dtype: object), ('100016211', 13095    R
  Name: tipoCredito, dtype: object), ('100016583', 12858    R
  12891    R
  Name: tipoCredito, dtype: object), ('10001684', 23679    R
  23726    R
  23778    R
  Name: tipoCredito, dtype: object), ('100016849', 12813    R
  Name: tipoCredito, dtype: object), ('100016856', 12784    R
  Name: tipoCredito, dtype: object), ('100016872', 12798    R
  Name: tipoCredito, dtype: object), ('10001695', 23777    U
  23873    R
  Name: tipoCredito, dtype: object), ('100016963', 12875    R
  Name: tipoCredito, dtype: object), ('100016989', 12819    R
  Name: tipoCredito, dtype: object), ('100017011', 12839    R
  Name: tipoCredito, dtype: object), ('100017029', 13115    R
  Name: tipoCredito, dtype: object), ('10001717', 576    U
  Name: tipoCredito, dtype: object), ('100017193', 12824    R
  Name: tipoCredito, dtype: object), ('100017235', 12763    R
  Name: tipoCredito, dtype: object), ('100017805', 12799    R
  Name: tipoCredito, dtype: object), ('100017862', 13086    R
  Name: tipoCredito, dtype: object), ('100018365', 12733    R
  Name: tipoCredito, dtype: object), ('100018464', 12971    R
  12987    R
  Name: tipoCredito, dtype: object), ('100018506', 13082    R
  Name: tipoCredito, dtype: object), ('100018555', 12796    R
  Name: tipoCredito, dtype: object), ('100018639', 12872    U
  12885    R
  Name: tipoCredito, dtype: object), ('100018696', 12600    R
  Name: tipoCredito, dtype: object), ('100018852', 12812    R
  12820    R
  Name: tipoCredito, dtype: object), ('100019322', 12726    R
  Name: tipoCredito, dtype: object), ('100019355', 12871    R
  Name: tipoCredito, dtype: object), ('100019546', 12721    R
  Name: tipoCredito, dtype: object), ('100019819', 13123    R
  Name: tipoCredito, dtype: object), ('100020114', 12795    R
  Name: tipoCredito, dtype: object), ('100020346', 12556    N
  Name: tipoCredito, dtype: object), ('100020510', 12575    N
  Name: tipoCredito, dtype: object), ('100020593', 12843    R
  Name: tipoCredito, dtype: object), ('100020668', 12814    R
  12838    R
  Name: tipoCredito, dtype: object), ('100020809', 13106    R
  13110    R
  Name: tipoCredito, dtype: object), ('100020882', 12965    R
  Name: tipoCredito, dtype: object), ('100021104', 12576    N
  Name: tipoCredito, dtype: object), ('100021229', 12596    R
  Name: tipoCredito, dtype: object), ('100021385', 12840    R
  Name: tipoCredito, dtype: object), ('100021765', 12905    R
  Name: tipoCredito, dtype: object), ('100021807', 12579    N
  Name: tipoCredito, dtype: object), ('10002216', 4760    R
  Name: tipoCredito, dtype: object), ('100022201', 12910    R
  12925    R
  Name: tipoCredito, dtype: object), ('100022367', 12582    N
  Name: tipoCredito, dtype: object), ('100022565', 12807    R
  Name: tipoCredito, dtype: object), ('100022649', 12893    R
  12929    R
  Name: tipoCredito, dtype: object), ('100022664', 12719    N
  Name: tipoCredito, dtype: object), ('100022714', 13084    U
  Name: tipoCredito, dtype: object), ('100022789', 12913    R
  Name: tipoCredito, dtype: object), ('100022854', 12911    R
  Name: tipoCredito, dtype: object), ('100022912', 12584    N
  Name: tipoCredito, dtype: object), ('100022938', 12829    R
  Name: tipoCredito, dtype: object), ('100022987', 12894    R
  Name: tipoCredito, dtype: object), ('100023126', 12867    U
  Name: tipoCredito, dtype: object), ('100023522', 12930    R
  Name: tipoCredito, dtype: object), ('100024009', 12602    N
  Name: tipoCredito, dtype: object), ('100024165', 12783    N
  Name: tipoCredito, dtype: object), ('100024421', 13098    R
  Name: tipoCredito, dtype: object), ('100024553', 12606    N
  Name: tipoCredito, dtype: object), ('10002458', 4429    N
  Name: tipoCredito, dtype: object), ('100024652', 12725    R
  Name: tipoCredito, dtype: object), ('100025154', 12816    R
  12837    R
  Name: tipoCredito, dtype: object), ('100025253', 12744    R
  Name: tipoCredito, dtype: object), ('100025808', 12718    N
  12808    R
  Name: tipoCredito, dtype: object), ('100025857', 12841    R
  Name: tipoCredito, dtype: object), ('100026343', 12904    U
  Name: tipoCredito, dtype: object), ('100026723', 12724    N
  Name: tipoCredito, dtype: object), ('100026749', 12735    R
  Name: tipoCredito, dtype: object), ('100026830', 12731    R
  Name: tipoCredito, dtype: object), ('100026848', 12801    N
  Name: tipoCredito, dtype: object), ('100027309', 12790    N
  Name: tipoCredito, dtype: object), ('100027325', 12877    R
  Name: tipoCredito, dtype: object), ('100027408', 12803    N
  Name: tipoCredito, dtype: object), ('100027416', 12730    R
  Name: tipoCredito, dtype: object), ('100027481', 12729    R
  Name: tipoCredito, dtype: object), ('100027705', 12806    N
  Name: tipoCredito, dtype: object), ('100027960', 12849    R
  12864    R
  Name: tipoCredito, dtype: object), ('100028265', 12728    N
  Name: tipoCredito, dtype: object), ('100028331', 12892    R
  Name: tipoCredito, dtype: object), ('100028406', 12745    R
  12757    R
  Name: tipoCredito, dtype: object), ('100028919', 12815    N
  Name: tipoCredito, dtype: object), ('10002894', 8611    U
  Name: tipoCredito, dtype: object), ('100028943', 13114    R
  Name: tipoCredito, dtype: object), ('100029339', 12900    R
  Name: tipoCredito, dtype: object), ('100029347', 13122    R
  Name: tipoCredito, dtype: object), ('100029388', 12766    R
  12777    R
  Name: tipoCredito, dtype: object), ('100029529', 12746    R
  Name: tipoCredito, dtype: object), ('100029883', 12817    N
  Name: tipoCredito, dtype: object), ('100029974', 12906    R
  Name: tipoCredito, dtype: object), ('100030105', 27310    R
  Name: tipoCredito, dtype: object), ('100030212', 12988    R
  Name: tipoCredito, dtype: object), ('100030519', 12975    R
  Name: tipoCredito, dtype: object), ('100030527', 12821    N
  Name: tipoCredito, dtype: object), ('100030709', 13092    R
  13101    R
  Name: tipoCredito, dtype: object), ('100030824', 12882    R
  Name: tipoCredito, dtype: object), ('100030857', 12918    R
  Name: tipoCredito, dtype: object), ('100030964', 12889    R
  Name: tipoCredito, dtype: object), ('100031384', 12860    R
  Name: tipoCredito, dtype: object), ('100031574', 12740    R
  Name: tipoCredito, dtype: object), ('100031814', 12890    R
  Name: tipoCredito, dtype: object), ('100032002', 12732    N
  Name: tipoCredito, dtype: object), ('100032028', 12888    R
  Name: tipoCredito, dtype: object), ('100032275', 12953    R
  Name: tipoCredito, dtype: object), ('100032325', 12895    R
  Name: tipoCredito, dtype: object), ('100032689', 12940    R
  Name: tipoCredito, dtype: object), ('100032754', 12737    R
  Name: tipoCredito, dtype: object), ('100032903', 12963    R
  Name: tipoCredito, dtype: object), ('100032960', 12830    N
  Name: tipoCredito, dtype: object), ('100033034', 12828    N
  Name: tipoCredito, dtype: object), ('100033141', 12842    R
  Name: tipoCredito, dtype: object), ('100033356', 12734    N
  Name: tipoCredito, dtype: object), ('100034495', 12836    N
  Name: tipoCredito, dtype: object), ('100034602', 13104    R
  Name: tipoCredito, dtype: object), ('100034776', 12736    N
  Name: tipoCredito, dtype: object), ('100035039', 13100    R
  Name: tipoCredito, dtype: object), ('100035104', 12880    R
  Name: tipoCredito, dtype: object), ('100035203', 12937    R
  Name: tipoCredito, dtype: object), ('100035211', 12755    R
  Name: tipoCredito, dtype: object), ('100036011', 12883    R
  Name: tipoCredito, dtype: object), ('100036326', 12967    R
  Name: tipoCredito, dtype: object), ('100036383', 12789    R
  Name: tipoCredito, dtype: object), ('100036532', 13080    N
  Name: tipoCredito, dtype: object), ('100036607', 12749    R
  Name: tipoCredito, dtype: object), ('100036763', 12738    N
  Name: tipoCredito, dtype: object), ('100036912', 12846    N
  Name: tipoCredito, dtype: object), ('100037241', 12848    N
  Name: tipoCredito, dtype: object), ('100037266', 12847    N
  Name: tipoCredito, dtype: object), ('100037381', 12915    R
  Name: tipoCredito, dtype: object), ('100037522', 12903    R
  Name: tipoCredito, dtype: object), ('100037605', 12942    R
  12964    R
  Name: tipoCredito, dtype: object), ('100037621', 12907    R
  Name: tipoCredito, dtype: object), ('100037647', 12851    N
  Name: tipoCredito, dtype: object), ('100037654', 12966    R
  Name: tipoCredito, dtype: object), ('100037704', 12739    N
  Name: tipoCredito, dtype: object), ('100037803', 12922    R
  Name: tipoCredito, dtype: object), ('100037878', 12753    R
  Name: tipoCredito, dtype: object), ('100037910', 12741    N
  Name: tipoCredito, dtype: object), ('100037936', 12853    N
  Name: tipoCredito, dtype: object), ('100038066', 12782    R
  Name: tipoCredito, dtype: object), ('100038207', 12912    R
  12962    R
  Name: tipoCredito, dtype: object), ('100038397', 12859    N
  Name: tipoCredito, dtype: object), ('100038462', 12754    R
  Name: tipoCredito, dtype: object), ('100038520', 12742    N
  12751    R
  Name: tipoCredito, dtype: object), ('100038561', 12977    R
  Name: tipoCredito, dtype: object), ('100038611', 12752    R
  Name: tipoCredito, dtype: object), ('100038702', 12861    N
  Name: tipoCredito, dtype: object), ('100038801', 12862    N
  Name: tipoCredito, dtype: object), ('100038843', 12750    R
  Name: tipoCredito, dtype: object), ('100038892', 12743    N
  Name: tipoCredito, dtype: object), ('100039189', 13102    R
  Name: tipoCredito, dtype: object), ('100039270', 12756    R
  Name: tipoCredito, dtype: object), ('100039353', 12866    N
  Name: tipoCredito, dtype: object), ('100039361', 12996    N
  Name: tipoCredito, dtype: object), ('100039403', 12793    N
  Name: tipoCredito, dtype: object), ('100039528', 12902    R
  Name: tipoCredito, dtype: object), ('100039981', 12868    N
  Name: tipoCredito, dtype: object), ('100039999', 13087    N
  Name: tipoCredito, dtype: object), ('100040120', 12870    N
  Name: tipoCredito, dtype: object), ('100040294', 12747    N
  Name: tipoCredito, dtype: object), ('100040385', 12748    N
  Name: tipoCredito, dtype: object), ('100040401', 13099    R
  Name: tipoCredito, dtype: object), ('100040575', 12951    R
  Name: tipoCredito, dtype: object), ('100040682', 12769    R
  Name: tipoCredito, dtype: object), ('100040690', 12874    N
  Name: tipoCredito, dtype: object), ('100040815', 12908    R
  Name: tipoCredito, dtype: object), ('100041110', 12767    R
  12776    R
  Name: tipoCredito, dtype: object), ('100041268', 12973    R
  Name: tipoCredito, dtype: object), ('100041524', 12931    R
  Name: tipoCredito, dtype: object), ('100041573', 12879    N
  Name: tipoCredito, dtype: object), ('100042050', 12921    R
  Name: tipoCredito, dtype: object), ('100042217', 12881    N
  Name: tipoCredito, dtype: object), ('100042399', 12972    R
  Name: tipoCredito, dtype: object), ('100042597', 12778    R
  Name: tipoCredito, dtype: object), ('100042746', 12884    N
  Name: tipoCredito, dtype: object), ('100042829', 12932    R
  Name: tipoCredito, dtype: object), ('100042860', 12761    R
  Name: tipoCredito, dtype: object), ('100043199', 12950    U
  Name: tipoCredito, dtype: object), ('100043207', 12957    R
  Name: tipoCredito, dtype: object), ('100043462', 12758    N
  Name: tipoCredito, dtype: object), ('100043520', 12759    N
  Name: tipoCredito, dtype: object), ('100043835', 12760    N
  Name: tipoCredito, dtype: object), ('100043884', 12897    N
  Name: tipoCredito, dtype: object), ('100043892', 12916    R
  Name: tipoCredito, dtype: object), ('100043900', 12955    R
  Name: tipoCredito, dtype: object), ('100044130', 12981    R
  Name: tipoCredito, dtype: object), ('100044163', 12899    N
  Name: tipoCredito, dtype: object), ('100044296', 12901    N
  Name: tipoCredito, dtype: object), ('100044411', 12989    R
  Name: tipoCredito, dtype: object), ('100045087', 12787    R
  Name: tipoCredito, dtype: object), ('100045160', 12792    N
  Name: tipoCredito, dtype: object), ('100045475', 12986    R
  Name: tipoCredito, dtype: object), ('100045558', 12909    N
  Name: tipoCredito, dtype: object), ('100045590', 12762    N
  Name: tipoCredito, dtype: object), ('100045608', 12949    R
  Name: tipoCredito, dtype: object), ('100045830', 12914    N
  Name: tipoCredito, dtype: object), ('100046242', 12764    N
  Name: tipoCredito, dtype: object), ('100046507', 12920    N
  Name: tipoCredito, dtype: object), ('100046598', 12768    N
  12774    R
  Name: tipoCredito, dtype: object), ('100046739', 12923    N
  Name: tipoCredito, dtype: object), ('100046887', 12933    N
  Name: tipoCredito, dtype: object), ('100047695', 12934    N
  Name: tipoCredito, dtype: object), ('100047802', 12993    R
  Name: tipoCredito, dtype: object), ('100047828', 12935    N
  Name: tipoCredito, dtype: object), ('100047844', 12947    R
  Name: tipoCredito, dtype: object), ('100048206', 12770    N
  Name: tipoCredito, dtype: object), ('100048263', 12939    N
  Name: tipoCredito, dtype: object), ('100048271', 12984    R
  Name: tipoCredito, dtype: object), ('100048412', 12979    R
  Name: tipoCredito, dtype: object), ('100048453', 12941    N
  Name: tipoCredito, dtype: object), ('100048792', 12771    N
  Name: tipoCredito, dtype: object), ('100049014', 12943    N
  Name: tipoCredito, dtype: object), ('100049055', 12945    N
  Name: tipoCredito, dtype: object), ('100049295', 12946    N
  Name: tipoCredito, dtype: object), ('100049329', 12948    N
  Name: tipoCredito, dtype: object), ('100049469', 27307    R
  Name: tipoCredito, dtype: object), ('100049527', 12773    N
  Name: tipoCredito, dtype: object), ('100049618', 12954    N
  Name: tipoCredito, dtype: object), ('100049659', 12956    N
  Name: tipoCredito, dtype: object), ('100049758', 12958    N
  Name: tipoCredito, dtype: object), ('100049857', 13109    N
  Name: tipoCredito, dtype: object), ('100049873', 12959    N
  Name: tipoCredito, dtype: object), ('100050392', 12779    N
  Name: tipoCredito, dtype: object), ('100050566', 12781    N
  Name: tipoCredito, dtype: object), ('100050616', 12968    N
  Name: tipoCredito, dtype: object), ('100050772', 12780    N
  Name: tipoCredito, dtype: object), ('100050897', 13113    N

### Datos Cuantitativos

In [3]:
df.describe(include=['float'])

,montoApertura,capitalDesembolsado,capitalCalculado,capitalPagado,ntasint,nintpen,nintcal,nintpag,nintmor,npagcta,nmorpag,ngastos,ngaspag,nTasEfe
count,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000
mean,4088.209333,4088.209333,492.506614,1980.086606,3.672766,4.063522,2151.360212,920.631643,124.388991,1.006374,11.384686,113.357102,60.644944,3.670516
std,5730.990950,5730.990950,1702.296340,3508.842342,0.669596,327.803566,7875.313695,1797.859473,508.811220,41.537166,68.235767,148.052829,91.512420,0.670797
min,138.490000,138.490000,0.000000,0.000000,1.093000,0.000000,36.510000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.090000
25%,1000.000000,1000.000000,0.000000,363.740000,3.290000,0.000000,392.700000,154.305000,25.670000,0.000000,0.940000,20.000000,5.000000,3.290000
50%,2000.000000,2000.000000,0.000000,857.680000,3.490000,0.000000,761.680000,378.920000,43.690000,0.000000,3.780000,65.000000,30.300000,3.490000
75%,5000.000000,5000.000000,301.390000,1981.075000,3.990000,0.000000,1618.115000,863.015000,79.610000,0.000000,10.650000,162.500000,80.000000,3.990000
max,60000.000000,60000.000000,45472.100000,59840.580000,7.000000,55810.240000,467399.970000,86505.470000,26449.320000,5416.380000,8792.130000,3354.090000,2486.850000,6.993000

In [4]:
df.describe(include=['int64'])

,Moneda,ccodprd,modalidadCredito,destinoCredito,ctipper,numeroDeCuotas,ccodana,cCodPdc,cCodOfi,nPerGra,nPerLbr
count,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000,30575.000000
mean,1.001145,23.224857,1.022306,3.218021,1.996500,13.238496,1418.094162,63848.259951,15.277187,0.000131,1.307800
std,0.033815,4.149205,0.248288,2.132636,0.059055,5.652038,980.234468,57885.641736,9.511352,0.014008,10.143641
min,1.000000,21.000000,1.000000,1.000000,1.000000,1.000000,629.000000,10037.000000,1.000000,0.000000,0.000000
25%,1.000000,21.000000,1.000000,2.000000,2.000000,12.000000,635.000000,10038.000000,8.000000,0.000000,0.000000
50%,1.000000,21.000000,1.000000,2.000000,2.000000,12.000000,1092.000000,40037.000000,14.000000,0.000000,0.000000
75%,1.000000,21.000000,1.000000,4.000000,2.000000,12.000000,1711.000000,120012.000000,24.000000,0.000000,0.000000
max,2.000000,32.000000,5.000000,8.000000,2.000000,60.000000,7965.000000,240002.000000,59.000000,2.000000,210.000000

### Datos de Tiempo

In [5]:
df.describe(include=['datetime'])

,fechaApertura,fechaUltimoPago,dSalPag,fechaVencimiento
count,30575,29214,6607,30566
unique,907,2037,806,1331
top,2012-08-31 00:00:00,2013-05-28 00:00:00,2012-10-03 00:00:00,2013-12-02 00:00:00
freq,899,1049,85,326
first,2009-12-22 00:00:00,2010-02-10 00:00:00,1900-01-01 00:00:00,2010-04-17 00:00:00
last,2012-12-31 00:00:00,2018-08-31 00:00:00,2016-02-05 00:00:00,2018-01-08 00:00:00

__Buscando Campos en blanco__

In [6]:
df.isnull().sum()

codigoCuenta                    0
codigoCliente                   0
codigoFuente                    0
tipoCredito                     0
Moneda                          0
ccodprd                         0
modalidadCredito                0
sectorEconomico                 0
destinoCredito                  0
Fuente de financiamiento        0
fechaApertura                   0
ctipper                         0
ctipcal                         0
fechaUltimoPago              1361
montoApertura                   0
capitalDesembolsado             0
capitalCalculado                0
capitalPagado                   0
ntasint                         0
nintpen                         0
nintcal                         0
nintpag                         0
nintmor                         0
npagcta                         0
nmorpag                         0
ngastos                         0
ngaspag                         0
numeroDeCuotas                  0
cctapre                         0
condicionCredito                0
cmarjud                         0
ccodana                         0
dSalPag                     23968
cCodPdc                         0
fechaVencimiento                9
nTasEfe                         0
cCodOfi                         0
nPerGra                         0
nPerLbr                         0
dtype: int64

__Filtraremos la data con NaN o NULL__

In [15]:
diasxmes = 30
# cambiaremos las fechas por sus diferencias en días
df.dropna(subset=['fechaVencimiento'], inplace=True) # quitamos data sin fecha de vencimiento
df['tiempoLimite'] = (df.fechaVencimiento - df.fechaApertura).dt.days/diasxmes
df['tiempoPagando'] = (df.fechaUltimoPago - df.fechaApertura).dt.days/diasxmes
df.drop(['fechaApertura'], axis=1, inplace=True)
df.drop(['fechaUltimoPago'], axis=1, inplace=True)
df.drop(['fechaVencimiento'], axis=1, inplace=True)
df['tiempoPagando'].fillna(0, inplace=True) # quienes no hicieron ningún pago
# Definimos quienes son deudores aún 
df['esDeudor'] = np.int32(df.dSalPag.isnull())#1:deudor, 0:no deudor
df.drop(['dSalPag'], axis=1, inplace=True)
df.isnull().sum()

codigoCuenta                0
codigoCliente               0
codigoFuente                0
tipoCredito                 0
Moneda                      0
ccodprd                     0
modalidadCredito            0
sectorEconomico             0
destinoCredito              0
Fuente de financiamiento    0
ctipper                     0
ctipcal                     0
montoApertura               0
capitalDesembolsado         0
capitalCalculado            0
capitalPagado               0
ntasint                     0
nintpen                     0
nintcal                     0
nintpag                     0
nintmor                     0
npagcta                     0
nmorpag                     0
ngastos                     0
ngaspag                     0
numeroDeCuotas              0
cctapre                     0
condicionCredito            0
cmarjud                     0
ccodana                     0
cCodPdc                     0
nTasEfe                     0
cCodOfi                     0
nPerGra                     0
nPerLbr                     0
tiempoLimite                0
tiempoPagando               0
esDeudor                    0
dtype: int64

In [ ]:
#https://chrisalbon.com/python/data_wrangling/pandas_apply_operations_to_groups/
#https://stackoverflow.com/questions/26266362/how-to-count-the-nan-values-in-a-column-in-pandas-dataframe
#https://pandas.pydata.org/pandas-docs/stable/merging.html
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html
#https://articulo.mercadolibre.com.pe/MPE-430677380-oferta-ultimo-stock-iphone-7-plus-128gb-4g-nuevo-libre-_JM